.h1, h1 {
    font-size: calc(1.375em + 1.5vw);
}
.h2, h2 {
    font-size: calc(1.325em + .9vw);
}
.h3, h3 {
    font-size: calc(1.3em + .6vw);
}
.h4, h4 {
    font-size: calc(1.275em + .3vw);
}
.h5, h5 {
    font-size: 1.25em;
}
.h6, h6 {
    font-size: 1em;
}
