$primaryBlueColor: #0b3666;
$secondaryBlueColor: #0c4587;
$whiteColor: #fff;
$secondaryRedColor: #e82127;
$primaryRedColor: #c91c22;
$titleFont: 'Oswald', sans-serif;
$textFont: 'Ubuntu', sans-serif;
